.carddetailPage {
  height: 85vh;
  padding: 30px 30px;
  background: #fff;
  overflow-x: scroll;
  font-size: 18px;
  font-weight: 600;
  .cardContents {
    margin: 60px auto 0;
    max-width: 600px;
    &_title {
      h2 {
        font-size: 22px;
      }
    }
    &_title, &_memo, &_listStatus {
      border-bottom: 1px solid #ccc;
      margin-bottom: 30px;
    }
    &_btnArea {
      margin-top: 40px;
      text-align: center;
      & > a {
        display: block;
        &.edit_btn {
          max-width: 200px;
          margin: 0 auto;
          background: rgb(30, 101, 253);
          padding: 7px;
          border-radius: 10px;
          color: #fff;
          transition: opacity .5s;
          text-decoration: none;
          &:hover {
            opacity: .7;
          }
        }
        &.delete_btn {
          margin-top: 20px;
        }
      }
    }
  }
}