.footer{
  display: block;
  position: relative;
  bottom: 35px;
  .writing-instrument{
    display: inline-block;
    height: 40px;
    width: 250px;
    position: absolute;
    right: 10px;
    .pen{
      display: inline-block;
      .pen1{
        width: 98px;
        height: 15px;
        background: linear-gradient(90deg, #333 8%, #f0eeee calc(8% + 1px), #d3d2d2 70%, #333 calc(70% + 1px));
        transform: rotate(-20deg);
      }
      .pen2{
        margin-left: 46px;
        width: 98px;
        height: 15px;
        background: linear-gradient(90deg, #ea4335 8%, #b6b4b4 8%, #dad8d8 70%, #ea4335 70%);
      }
    }
    .keshi{
      float: right;
      .keshi1{
        width: 98px;
        height: 12px;
        border-radius: 3px 3px 0 0;
        background: #5a95f5;
      }
      .keshi2{
        width: 97px;
        height: 22px;
        border-radius: 0 0 4px 4px;
        background: #d2e2fc;
      }
    }
  }
}