.footer{
  display: inline-block;
  position: absolute;
  bottom: 16px;
  right: 50px;
  .writing-instrument{
    display: inline-block;
    height: 40px;
    width: 250px;
    .pen{
      display: inline-block;
      .pen1{
        width: 98px;
        height: 15px;
        background: linear-gradient(90deg, #333 8%, #f2f2f2 calc(8% + 1px), #f2f2f2 70%, #333 calc(70% + 1px));
        transform: rotate(-20deg);
      }
      .pen2{
        margin-left: 46px;
        width: 98px;
        height: 15px;
        background: linear-gradient(90deg, #ea4335 8%, #f2f2f2 8%, #f2f2f2 70%, #ea4335 70%);
      }
    }
    .keshi{
      float: right;
      .keshi1{
        width: 98px;
        height: 12px;
        border-radius: 2px 2px 0 0;
        background: #5a95f5;
      }
      .keshi2{
        width: 97px;
        height: 22px;
        border-radius: 0 0 4px 4px;
        background: #d2e2fc;
      }
    }
  }
}