.topPage {
  height: 86vh;
  padding: 30px 30px;
  background: #fff;
  overflow-x: scroll;
  .listWrapper {
    display: flex;
    height: 100%;
    align-items: baseline;
    .list {
      position: relative;
      background: #8ee3ec;
      padding: 10px;
      margin-left: 20px;
      min-width: 250px;
      border-radius: 10px;
      &:last-child {
        margin-right: 20px;
      }
      &_circle{
        display: inline-block;
        text-decoration: none;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
        border-bottom: solid 2px #b5b5b5;
        margin-left: 45%;
      }
      &_header {
        margin: 5px 0 20px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &_title {
          font-size: 20px;
          margin: 0;
        }
        &_action {
          .fa-trash {
            margin-right: 10px;
          }
          .fa-pen, .fa-trash {
            font-size: 18px;
            color: #b4f3e5;
            text-shadow: 0px 0px 2px #000, 2px 2px 3px #000;
          }
        }
      }
      .cardWrapper {
        overflow-y: scroll;
        max-height: 76vh;
        .cardDetail_link {
          text-decoration: none;
          color: #323232;
        }
        .card {
          position:relative;
          display:flex;
          flex-direction:column;
          min-width:0;
          word-wrap:break-word;
          background-color:#fff;
          background-clip:border-box;
          border:2px solid rgb(153, 152, 152);
          border-radius:0.25rem;
          margin-bottom: 10px;
          padding: 10px;
          &_title {
            margin-block-start: 0em;
            font-size: 17px;
          }
          &_detail {
            display: none;
            &.is-exist {
              display: block;
              color: #999;
              & > i {
                display: block;
              }
            }
          }
        }
        .addCard {
          color: #fff;
          text-shadow: 0px 0px 2px #000, 2px 2px 3px #000;
          &_link {
            color: #fff;
            text-shadow: 0px 0px 2px #000, 2px 2px 3px #000;
          }
        }
      }
    }
  }
}