.cardeditPgae {
  height: 88vh;
  padding: 30px 30px;
  background: #fff;
  overflow-x: scroll;
  font-size: 20px;
  font-weight: 600;
}
.cardeditPgae .cardeditForm {
  max-width: 500px;
  margin: 70px auto 0;
}
.cardeditPgae .cardeditForm_title, .cardeditPgae .cardeditForm_memo {
  margin-bottom: 30px;
}
